
@using RandomSquadCreater.Core
@model IEnumerable<RandomSquadCreater.Core.Player>

@{
    ViewBag.Title = "PlayerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Oyuncu Listesi</h3>
            </div>
            <div class="box-body  table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Email</th>
                            <th>Mevki</th>
                            <th>Gücü</th>
                            <th>Kullanıcı Adı</th>
                            @*<th>Geliyor mu?</th>*@
                            <th>Puanla</th>
                            <th>Oy Ver</th>
                            <th>Sohbet Başlat</th>


                        </tr>
                    </thead>
                    <tbody>

                        @{

                            Player player = Session["user"] as Player;
                            List<Player> players = ViewBag.GetAllPlayers;
                            bool result = false;
                            switch (player.PlayerPosition)
                            {
                                case "GoalKeeper":
                                    int goalKeeperCount = players.Where(x => x.PlayerPosition == "GoalKeeper").Count();
                                    if (goalKeeperCount < 2)
                                    {
                                        result = true;
                                    }
                                    break;

                                case "Deffence":
                                    int deffenceAndMidFieldCount = players.Where(x => x.PlayerPosition == "Deffence").Count() + players.Where(x => x.PlayerPosition == "MidField").Count();
                                    if (deffenceAndMidFieldCount < 10)
                                    {
                                        result = true;
                                    }
                                    break;

                                case "MidField":
                                    int mid = players.Where(x => x.PlayerPosition == "MidField").Count();
                                    int def = players.Where(x => x.PlayerPosition == "Deffence").Count();

                                    int midFieldAndDeffenceCount = mid + def;
                                    if (midFieldAndDeffenceCount < 10)
                                    {
                                        result = true;
                                    }
                                    break;

                                case "Forward":
                                    int forwardCount = players.Where(x => x.PlayerPosition == "Forward").Count();
                                    if (forwardCount < 2)
                                    {
                                        result = true;
                                    }
                                    break;

                                default:
                                    result = false;
                                    break;
                            }



                        }


                        @foreach (var item in Model)
                        {




                            <tr>
                                <td>@item.PlayerName</td>
                                <td>@item.PlayerSurname</td>
                                <td>@item.PlayerEmail</td>
                                <td>@item.PlayerPosition</td>
                                <td>@item.PlayerPower</td>
                                <td>@item.PlayerUserName</td>

                                <td>
                                    @if (player.PlayerUserName == item.PlayerUserName)
                                    {

                                        <button type="submit" class="btn btn-warning" title="Kadro Doldu." onclick="SendParam('@item.PlayerName' + ' ' + '@item.PlayerSurname')" data-toggle="modal" data-target="#modal-default" disabled="disabled">
                                            Puan Ver
                                        </button>

                                    }
                                    else
                                    {
                                        if (result == false)
                                        {
                                            <button type="submit" class="btn btn-default" onclick="SendParam('@item.PlayerName' + ' ' + '@item.PlayerSurname')" data-toggle="modal" data-target="#modal-default" disabled="disabled">
                                                Puan Ver
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-default" onclick="SendParam('@item.PlayerName' + ' ' + '@item.PlayerSurname')" data-toggle="modal" data-target="#modal-default">
                                                Puan Ver
                                            </button>
                                        }

                                    }




                                </td>
                                <td>
                                    @*pozisyon doluysa ilgili oyuncuya oy vermeyi kapat*@
                                    @if (player.PlayerUserName != item.PlayerUserName)
                                    {


                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info" disabled="disabled">
                                            Oy Kullan
                                        </button>


                                    }
                                    else
                                    {
                                        if (result == false)
                                        {
                                            <button type="button" class="btn btn-warning" title="Kadro Doldu." data-toggle="modal" data-target="#modal-info" disabled="disabled">
                                                Oy Kullan
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
                                                Oy Kullan
                                            </button>
                                        }

                                    }
                                </td>
                                @if (player.PlayerUserName == item.PlayerUserName)
                                {
                                    <td style="padding-left: 50px"></td>
                                }
                                else
                                {
                                    <td style="padding-left: 50px">

                                        @*@Html.ActionLink('<i class="fa fa-plus-circle"></i>', "Chat", new { Name = item.PlayerName + ' ' + item.PlayerSurname })*@
                                        @*<a href="~/Home/Chat" id="btnchat" key="Request.QueryString['@item.PlayerName' + ' ' + '@item.PlayerSurname']">
                                                <i class="fa fa-plus-circle"></i>
                                            </a>*@

                                        <a href="@Url.Action("Chat", "Chat",new { Name = item.PlayerName + ' ' + item.PlayerSurname })">
                                            <i class="fa fa-plus-circle"></i>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </div>
    <!-- /.col -->
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Puanlama Tablosu</h4>
            </div>

            @using (Html.BeginForm())
            {
                <div class="modal-body">
                    <input type="hidden" id="sender" name="sender" value="players">
                    <fieldset class="radiogroup">
                        @*<legend><p id="sender" name="sender">acv</p>'a bu haftaki maç için puan ver !!!</legend>*@
                        <legend><span id="lblname" name="lblname"></span>'a bu haftaki maç için puan ver !!!</legend>

                        <div class="form-group">
                            <input type="text" class="form-control" id="point" name="point" placeholder="1 ile 100 arasında puanınızı Giriniz...">
                            <br />
                            <p id="message" style="color:red"></p>
                        </div>
                    </fieldset>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default pull-left" data-dismiss="modal">Kapat</button>
                    <button type="button" id="btnreply" name="btnreply" class="btn btn-primary">Kaydet</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal modal-info fade" id="modal-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Oy Kullanma Tablosu</h4>
            </div>
            @*<form name="myForm" controller="Player" action="Vote" method="post">*@

            @using (Html.BeginForm())
            {
                <div class="modal-body">

                    <legend>Bu hafta maça geliyor musun?</legend>
                    <div class="form-group" id="divradio">
                        <label>
                            <input type="radio" name="myRadios" id="yes" value="yes" checked="checked" class="minimal">&nbsp;&nbsp;Evet, Geliyorum
                        </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label>
                            <input type="radio" name="myRadios" id="no" value="no" class="minimal">&nbsp;&nbsp;Hayır, Gelmiyorum
                        </label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Kapat</button>
                    <button type="button" id="btnvote" name="btnvote" class="btn btn-outline">Oyunu Kullan</button>
                </div>

            }



            @*</form>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/Content/AdminLTE-2.4.5/bower_components/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    function SendParam(param1) {
        document.getElementById("sender").value = param1;
        document.getElementById("lblname").textContent = document.getElementById("sender").value;
    };

    $(document).ready(function () {


        $("#btnvote").click(function () {

            var no = $("#divradio input:radio:checked").val();

            //alert(no);
            var uri = 'http://localhost:64579/Player/Vote';
            $.ajax({
                url: uri,
                dataType: 'json',
                method: 'post',
                data: { "myvote": no },
                success: function (data) {
                    if (data.Result == true) {
                        toastr.warning("Oyunuz kaydediliyor.");
                        setTimeout(function () {
                            window.location.href = 'http://localhost:64579/Player/PlayerList';
                        },
                            2000);
                    } else if (data.success == "timeout") {
                        toastr.info("1 hafta içerisinde iki defa oy kullanamazsınız.");
                    } else {
                        toastr.error("Oyunuz kaydedilemedi.");
                    }
                },
                error: function (errorThrown) {
                    toastr.error("Oyunuz kaydedilemedi. Hata: " + errorThrown);
                }
            });
        });

        $("#btnreply").click(function () {

            var sender = document.getElementById("lblname").textContent;

            var point = $('#point').val();

            var uri = 'http://localhost:64579/Player/PlayerList';
            $.ajax({
                url: uri,
                dataType: 'json',
                method: 'post',
                data: { "sender": sender, "point": point },
                success: function (data) {
                    if (data.Result == true) {
                        toastr.warning("Oyuncuya verdiğiniz puan kaydediliyor.");
                        setTimeout(function () {
                            window.location.href = 'http://localhost:64579/Player/PlayerList';
                        },
                            2000);
                    } else if (data.success == "timeout") {
                        toastr.info("1 hafta içerisinde aynı oyuncuya iki defa puan veremezsiniz.");
                    } else if (data.success == "isNumeric") {
                        toastr.warning("Girilen değer sayı olmalıdır..");
                    } else {
                        toastr.error("Oyuncuya verilen puan kaydedilemedi.");
                    }
                },
                error: function (errorThrown) {
                    toastr.error("Oyuncuya verilen puan kaydedilemedi. Hata: " + errorThrown);
                }
            });
        });

    });

    function CheckValue() {
        var point;

        point = document.getElementById("point").value;
        if (isNaN(point) || point < 1 || point > 100) {

            toastr.warning("Geçersiz karakter girdiniz. 1 ile 100 arasında sayı giriniz.");
            setTimeout(function () {
                window.location.href = 'http://localhost:64579/Player/PlayerList';
            },
                1000);
        }

    }




</script>



