@using RandomSquadCreater.Core

@{
    ViewBag.Title = "PlayerProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    Player player = Session["user"] as Player;
}
<section class="content-header">
    <h1>
        User Profile
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
        <li class="active">Kullanıcı Profil</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="~/Content/AdminLTE-2.4.5/dist/img/user4-128x128.jpg" alt="User profile picture">
                    <h3 class="profile-username text-center">@player.PlayerName @player.PlayerSurname</h3>
                    <p class="text-muted text-center">@player.PlayerPosition - @player.PlayerPower</p>


                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li><a href="#settings" data-toggle="tab">Ayarlar</a></li>
                </ul>
                <div class="tab-content">

                    <div class="active tab-pane" id="settings">


                        @using (Html.BeginForm("EditPlayer", "Player", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Ad</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" name="inputName" value="@player.PlayerName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSurname" class="col-sm-2 control-label">Soyad</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputSurname" name="inputSurname" value="@player.PlayerSurname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail" name="inputEmail" value="@player.PlayerEmail">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputUsername" class="col-sm-2 control-label">Kullanıcı Adı</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputUsername" name="inputUsername" value="@player.PlayerUserName">
                                </div>
                            </div>
                            if (player.PlayerIsAdmin)
                            {
                                <div class="form-group">
                                    <label for="inputPower" class="col-sm-2 control-label">Güç</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputPower" name="inputPower" value="@player.PlayerPower">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPosition" class="col-sm-2 control-label">Mevki</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputPosition" name="inputPosition" value="@player.PlayerPosition">
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Şifreniz</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword" name="inputPassword" value="@player.PlayerPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputRePassword" class="col-sm-2 control-label">Şifreniz Tekrar</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputRePassword" name="inputRePassword" value="@player.PlayerPassword">
                                </div>
                            </div>
                            if (player.PlayerIsAdmin)
                            {
                                <div class="form-group" id="AdminOrStandart">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" checked="checked" id="playerAdmin" name="playerAdmin" class="minimal-red"> Admin @*<a href="#">terms and conditions</a>*@
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group" id="AdminOrStandart">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="minimal-red"> Admin @*<a href="#">terms and conditions</a>*@
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="form-group">

                                <label for="File" class="col-sm-2 control-label">Profil Fotoğrafı Seçiniz</label>
                                <div class="col-sm-10">
                                    <input type="file" name="File" id="File">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" id="btnEdit" class="btn btn-primary">Güncelle</button>
                                </div>
                            </div>
                        }

                        <div class="form-group">

                            <div class="col-sm-12" id="result">

                            </div>
                        </div>

                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>

    @if (player.PlayerIsAdmin)
    {
        <div class="row">
            <div class="col-md-3"></div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li><a href="#settings" data-toggle="tab">Yetki Verme</a></li>
                    </ul>
                    <div class="tab-content">

                        <div class="active tab-pane" id="settings">

                            @using (Html.BeginForm("Grant", "Player", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <div class="form-group">
                                    <label for="txtusername" class="col-sm-2 control-label">Ad</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="txtusername" id="txtusername" placeholder="Yetki verilecek kullanıcı adını giriniz">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" id="btngrant" name="btngrant" class="btn btn-primary">Güncelle</button>
                                    </div>
                                </div>
                            }

                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
    }



    <!-- /.row -->
</section>

<script src="~/Content/AdminLTE-2.4.5/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {



        $('#btnEdit').click(function () {

            var player = {
                Email: $('#inputEmail').val(),
                Name: $('#inputName').val(),
                Surname: $('#inputSurname').val(),
                Power: $('#inputPower').val(),
                Password: $('#inputPassword').val(),
                RePassword: $('#inputRePassword').val(),
                Username: $('#inputUsername').val(),
                Admin: $('#playerAdmin').val(),
                Position: $('#inputPosition').val()
            }

            $.ajax({
                url: 'Player/EditPlayer',
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: player,
                processData: false,
            });



        });

        $('#btngrant').click(function() {

            var txtusername = $("#txtusername").val();
            //alert(txtusername)
            //alert(no);

            $.ajax({
                url: 'Player/Grant',
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({ "txtusername": txtusername }),
                processData: false,
                success: function (data) {
                    $('#response pre').html(JSON.stringify(data));
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });



        });




        if ('@player.PlayerIsAdmin'=='True') {
            $('#AdminOrStandart').show();
        } else {
            $('#AdminOrStandart').hide();
            //$('#inputPower').attr('disabled', 'disabled');
        }



    });



</script>