@using RandomSquadCreater.Core
@using RandomSquadCreater.UI.Controllers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | General Form Elements</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Content/AdminLTE-2.4.5/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE-2.4.5/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE-2.4.5/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE-2.4.5/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE-2.4.5/dist/css/skins/_all-skins.min.css">
    <link href="~/Content/AdminLTE-2.4.5/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/AdminLTE-2.4.5/bower_components/select2/dist/css/select2.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    @{
        Player currentplayer = new Player();
        if (Session["user"] != null)
        {
            currentplayer = Session["user"] as Player;

        }
        string name = currentplayer.PlayerName + " " + currentplayer.PlayerSurname;
    }
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="PlayerList" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>S</b>CR</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Squad</b>CRT</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                      
                        <li class="dropdown user user-menu">
                            <a href="~/Player/PlayerProfile" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/AdminLTE-2.4.5/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">@name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/AdminLTE-2.4.5/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        @name - Btpro Stuff
                                        <small></small>
                                    </p>
                                </li>                              
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="~/Player/PlayerProfile" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">

                                        @using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a class="btn btn-default btn-flat" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
                                        }





                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">

                    <div class="pull-left image">

                        <img src="~/Content/AdminLTE-2.4.5/dist/img/user2-160x160.jpg" class="img-circle" title="@name">

                    </div>

                    <div class="pull-left info">


                        <p>@name</p>
                        @{
                            string result = "";
                            if (currentplayer != null)
                            {
                                result = "Aktif";
                            }
                            else
                            {
                                result = "Pasif";
                            }
                        }
                        <a href="#"><i class="fa fa-circle text-success"></i>@result</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="PlayerListByKey" method="post" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="randomPlayer" id="randomPlayer" class="form-control" placeholder="Oyuncu Ara...">
                        <span class="input-group-btn">
                            <button type="submit" name="search-btn" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">ANA SAYFA</li>

                    <li>
                        <a href="~/Player/PlayerList">
                            <i class="fa fa-dashboard"></i> <span>Oyuncu Listesi</span>
                            @*<span class="pull-right-container">
                    <small class="label pull-right bg-green">new</small>
                </span>*@
                        </a>
                    </li>
                    @if (currentplayer.PlayerIsAdmin)
                    {
                        <li>
                            <a href="~/Player/ScoreList">
                                <i class="fa fa-th"></i> <span>Ortalama Puan Listesi</span>
                                @*<span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                    </span>*@
                            </a>
                        </li>
                    }

                    <li>
                        <a href="~/Home/Index">
                            <i class="fa fa-bookmark-o"></i> <span>Puan Takip Listesi</span>
                            @*<span class="pull-right-container">
                    <small class="label pull-right bg-green">new</small>
                </span>*@
                        </a>
                    </li>
                    <li>
                        <a href="~/Mail/SendMail">
                            <i class="fa fa-envelope"></i> <span>Mailbox</span>
                            @*<span class="pull-right-container">
                    <small class="label pull-right bg-green">new</small>
                </span>*@
                        </a>
                    </li>
                    <li>
                        <a href="~/Player/CreateEvent">
                            <i class="fa fa-table"></i> <span>Etkinlik Oluştur</span>
                        </a>
                    </li>
                    <li class="header">Chat Odası</li>
                    <li><a href="~/Chat/Chat"><i class="fa fa-circle-o text-aqua"></i> <span>Sohbeti Başlat</span></a></li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                @*<h1>
                        General Form Elements
                        <small>Preview</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#">Forms</a></li>
                        <li class="active">General Elements</li>
                    </ol>*@
            </section>
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            @*<div class="pull-right hidden-xs">
                    <b>Version</b> 2.4.0
                </div>*@
            <strong>Copyright &copy; 2019 <a href="https://btpro.net/main">Btpro Squad Creater</a>.</strong> Tüm hakları saklıdır.
        </footer>

        <div class="control-sidebar-bg"></div>
    </div>




    @*@ProcessToastrs()*@

    @*@RenderSection("_Scripts", false)*@




</body>
</html>
<script src="~/Content/AdminLTE-2.4.5/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/AdminLTE-2.4.5/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>

<script src="~/Content/AdminLTE-2.4.5/bower_components/fastclick/lib/fastclick.js"></script>
<script src="~/Content/AdminLTE-2.4.5/dist/js/adminlte.min.js"></script>
<script src="~/Content/AdminLTE-2.4.5/dist/js/demo.js"></script>
<script src="~/Content/AdminLTE-2.4.5/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="~/Content/AdminLTE-2.4.5/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/Content/AdminLTE-2.4.5/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="~/Content/AdminLTE-2.4.5/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script src="~/Content/AdminLTE-2.4.5/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
<script src="/signalr/hubs" type="text/javascript"></script>



<script>

    toastr.options.preventDuplicates = false;
    toastr.options.closeButton = true;
    toastr.options.timeOut = 0;@* 0 olunca kendiliğinden kapanmıyor.*@
    @*toastr.options.escape.Html = false;   html'i gösterme *@

    @* toastr.options.onShown=function() { console.log('Hello'); }
    toastr.options.onHidden=function() { console.log('goodbye'); }
    toastr.options.onclick=function() { console.log('clicked'); }
    toastr.options.onCloseClick=function() { console.log('close button clicked'); }*@
</script>


<script type="text/javascript">




             $(document).ready(function() {
                 $('#search-btn').click(function() {

                     var inputText = $('#randomPlayer').val();


                     $.ajax({
                         url: 'Player/PlayerListByKey',
                         dataType: 'json',
                         type: 'post',
                         cache:false,
                         contentType: 'application/json',
                         data:JSON.stringify({ "key": inputText }),
                         processData: false,
                         success: function (data, textStatus, jQxhr) {
                             $('#response pre').html(JSON.stringify(data));
                             @{
                        Session["Players"] = null;
                    }
                         },
                         error: function (jqXhr, textStatus, errorThrown) {
                             console.log(errorThrown);
                         }
                     });

                 });

             });
</script>


<script>


    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
        //Money Euro
        $('[data-mask]').inputmask()
    });


</script>


